#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1612R.
#

# Period Constraints 
#FREQUENCY NET "N64_rec/ImActuallyAnEncoderButWhatever/Send_Zero_Right/stateMachine/One_Top_In" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
